<%= if is_nil(@register) do %>
  <%= render "contents_list.html"%>
<% else %>
  <%= render "data_report.html",
        maps_index: @maps_index,
        data_list: @data_list,
        data_url: @data_url,
        maps_list: @maps_list,
        maps_path: @maps_path,
        data_list_by_id: @data_list_by_id,
        register: @register
  %>
<% end %>
