<div class="grid-row">
   <%= render "data_summary_table.html",
              maps_index: @maps_index,
              data_list: @data_list,
              maps_list: @maps_list,
              data_list_by_id: @data_list_by_id,
              register: @register
              %>
</div>
